$blackColor:#141414;
$lighterBlack: #1B1B1B;
$mainFont: 'Nunito Sans', sans-serif;
$headingFont: 'Raleway', sans-serif;
$linesOffset: 340px;

@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex($horizontal, $vertical, $direction, $gap){
    display: flex;
    justify-content: $horizontal;
    align-items: $vertical;
    flex-direction: $direction;
    gap: $gap;
}

@mixin testBorder(){
    border-color: #03e9f4;
    border-style: solid;
    border-width: 1px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $blackColor;
    height: 2500px;
}

h1{
    font-size: 3rem;
}

.straight-line-short{
    height: 90px;  
    width: 2px;  
    background-color: white;  
    z-index: 699; 
    box-shadow: 0 0 20px 4px #291386;
}

.straight-line-long{
    height: 700px;  
    width: 2px;  
    background-color: white;  
    z-index: 699; 
    box-shadow: 0 0 20px 4px #291386;
}

.projects-straight-line-long{
    position: absolute;  
    top: 280px;
    left: $linesOffset; 
    height: 720px;  
    width: 2px;  
    background-color: white;  
    z-index: 699; 
    box-shadow: 0 0 20px 4px #291386;
}

.contact-section-horizonal-line{
    position: absolute; 
    top: 98px;
    left: 545px; 
    width: 500px;  
    height:  2px;  
    background: rgb(255,255,255);
    box-shadow: 0 0 20px 4px #291386;
    z-index: 0; 
}

.header{
    background: rgba(1, 12, 20, 1); 
    color: white;
    width: 100%;
    height: 60px;
    @include flex(space-between, center, row, 2rem);
    padding-inline: 1rem;
    font-family: $mainFont;
    position: fixed;
    z-index: 1200;

    ul{
        list-style: none;
        @include flex(right, center, row, 1.2rem);
    }

    img{
        margin-left: 2rem;
        cursor: pointer;
    }

    button{
        position: relative;
        padding-inline: 0.8rem;
        border-radius: 1rem;
        border-style: none;
        color: white;
        height: 40px;
        background-color: #0e182b;
        cursor: pointer;
        transition: 0.2s linear;
        font-size: 1.4rem;
        z-index: 900;

        &:hover{
            background-color: #fefefe;
            color: #010c14;
            box-shadow: 0 0 5px #fefefe, 0 0 25px #fefefe;
        }
    }
}

.burgir{
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.nav-bar{
    @include flexCenter();
    color: white;
    top: 60px;
    background-color: #060b21;
    width: 100%;
    position: fixed;
    height: 200px;
    z-index: 2000;

    ul{
        list-style: none;
        width: 100%;
        height: 100%;
        @include flexCenter();
        flex-direction: column;
        gap: 1rem;
    }

    button{
        background-color: #1f283a;
        color: white;
        border-style: none;
        border-radius: 1rem;
        width: 80%;
        height: 30px;
        font-size: 1rem;
        cursor: pointer;
        transition: 0.2s linear;

        &:hover{
            background-color: #fefefe;
            color: #010c14;
            box-shadow: 0 0 5px #fefefe, 0 0 25px #fefefe;
        }
    }

    li {
        @include flexCenter();
        width: 100%;
    }
}

.welcome-section{
    color: white;
    @include flexCenter();
    font-family: $headingFont;
    height: 700px;
    padding-inline: 1rem;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background: rgb(27,27,27);
    background: radial-gradient(circle, rgb(16, 11, 37) 0%, #010c14 100%);

    h2{
        font-size: 1.9rem;
        background: -webkit-linear-gradient(#ffffff, #5b75ce);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $mainFont;
    }
}

.welcome-section-heading{
    animation: drop-in 1200ms ;
}

.welcome-section-container{
    color: white;
    @include flexCenter();
    font-family: $headingFont;
    font-size: 3rem;
    height: 550px;
    max-width: 1350px;
    margin-inline: auto;
    flex-direction: row;
    gap: 0rem;
}

.welcome-section-lines-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.welcome-section-curved-line{
    border-radius: 100% 0 0 0;
    color: white;
    bottom: 0;
    border-color: white;
    border-style: solid;
    border-bottom: 0;
    border-right: 0;
    border-width: 2px;
    height: 100px;
    width: 100px;
    margin-left: 4.4%;
    margin-top: 49px;
}

.welcome-section-curved-line-left-up{
    border-radius: 0 0 100% ;
    color: white;
    border-color: white;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-width: 2px;
    height: 50px;
    width: 100px;
    margin-bottom: 96px;
    margin-right: 5px;
    position: relative;
}

.welcome-section-horizonal-line{
    width: 555px;  
    height: 2px;  
    background: rgb(255,255,255);
    z-index: 999; 
    margin-bottom: 49px;
}

.about-me{
    position: relative;
    color: white;
    height: 800px;
    background: url('../assets/layered-waves1.svg');
    background-position: center;
    padding-inline: 1rem;
    
    img{
        width: 300px;
    }
}

.about-me-container{
    position: relative;
    color: white;
    height: 800px;
    max-width: 1300px;
    @include flex(center ,center, row, 0rem);
    margin-inline: auto;

    img{
        width: 300px;
    }
}

.about-me-info-container{
    width: 91%;
    @include flexCenter();
    justify-content: flex-start;
    gap: 60px;

    flex-direction: row;

    h2{
        background: linear-gradient(93deg, rgba(140,250,255,1) 0%, rgb(129, 137, 255) 100%); 
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}

.about-me-text{
    position: relative;
    max-width: 500px;
    font-family: $mainFont;
    font-size: 2rem;
    bottom: 4.6rem;

    img{
        width: 90px;
    }

    p{
        font-size: 2rem;
        min-height: 430px;
    }
}

.about-me-stack{
    width: 500px;
    font-family: $mainFont;
    bottom: 4.6rem;
    position: relative;
    font-size: 2rem;
    z-index: 500;
    @include flex(center, center, column, 1rem);

    img{
        width: 90px;
    }
}

.tech-stack{
    @include flex(center, center, row, 1rem);
}

.lines-container{
    position: relative;
    width: 8.6%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.point{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #D9D9D9;
    box-shadow: 0px 0px 37.8px #D9D9D9, 0px 0px 21.6px #D9D9D9, 0px 0px 12.6px #D9D9D9, 0px 0px 6.3px #D9D9D9, 0px 0px 1.8px #D9D9D9, 0px 0px 0.9px #D9D9D9;
}

.point2{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    top: 0;
    right: 0;
    position: absolute;
    background: #ffffff;
    box-shadow: 0px 0px 37.8px #D9D9D9, 0px 0px 21.6px #D9D9D9, 0px 0px 12.6px #D9D9D9, 0px 0px 6.3px #D9D9D9, 0px 0px 1.8px #D9D9D9;
}

.curve-container{
    position: relative;
    width: 106px;
}

.projects-section{
    position: relative;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: radial-gradient(50% 50% at 50% 50%, #070f25 0%, rgba(3, 3, 4, 0) 99.99%, rgba(0, 0, 0, 0) 100%),  url('../assets/layered-waves3.svg');
    width: 100%;
    height: 800px;
    padding-inline: 1rem;
}

.projects-container{
    position: relative;
    @include flexCenter();
    gap: 0rem;
    max-width: 1300px;
    height: 800px;
    margin-inline: auto;
}

.projects-display-container{
    width: 91%;
    @include flexCenter();
    justify-content: flex-start;
    gap: 100px;
    flex-direction: row;

    h2{
        background: linear-gradient(93deg, rgba(140,250,255,1) 0%, rgb(129, 137, 255) 100%); 
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.project-container{
    position: relative;
    background-color: #130d2c;
    max-width: 500px;
    height: 555px;
    padding: 1.1rem;
    border-radius: 1.5rem;
    font-family: $mainFont;
    font-size: 1.5rem;
    @include flex(center, center, column, 1rem);
    background: rgb(26,29,40);
    background: linear-gradient(31deg, rgb(7, 13, 41) 0%, rgba(14,16,77,1) 100%); 
    bottom: 2.4rem;

    img{
        width: 90%;
    }

    button{
        width: 160px;
        height: 50px;
        padding: 0.75rem;
        border-radius: 1rem;
        color: white;
        background-color: #0e182b;
        cursor: pointer;
        transition: 0.2s linear;
        border-style: none;
        font-size: 1.4rem;
        z-index: 900;

        &:hover{
            background-color: #fefefe;
            color: #010c14;
            box-shadow: 0 0 5px #fefefe, 0 0 25px #fefefe;
        }
    }
}

.system-container{
    position: relative;
    width: 500px;
    font-family: $mainFont;
    font-size: 2rem;
    bottom: 2.4rem;
}

@keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
}

.galaxy-container{
    position: relative;
    width: 800px;
    height: 503px;
    @include flexCenter();
    background: url('../assets/stars.svg');
}

.orbit {
    position: absolute;
    width: 100px;
    height: 50px;
    rotate: -17deg;
    border: 1px solid #ffd65c;
    border-radius: 50%;
    box-shadow: 0 0 50px 15px #fadd86;
    background-color: #ffffff;
    z-index: 2;
}

.orbit-2 {
    position: absolute;
    width: 200px;
    height: 100px;
    rotate: -17deg;
    border: 1px solid #ad31ff;
    border-radius: 50%;
    box-shadow: 0 0 50px 15px #ad31ff;
    animation: pulse 2s infinite;
    z-index: 2;
}

.orbit-3{
    position: absolute;
    width: 270px;
    height: 150px;
    rotate: -17deg;
    border: 1px solid #4e31cc;
    border-radius: 50%;
    box-shadow: 0 0 50px 15px #3c1ec2;
    animation: pulse 2.5s infinite;
    z-index: 2;
}

.orbit-4{
    position: absolute;
    width: 330px;
    height: 190px;
    rotate: -17deg;
    border: 1px solid #331ba1;
    border-radius: 50%;
    box-shadow: 0 0 100px 35px #291386;
    animation: pulse 3s infinite;
    z-index: 2;
}

.solar-system{
    width: 500px;
    height: 500px;
    position: relative;
}

.ellipse{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 55px;
    height: 55px;
    transform: translate(-50%, -50%);
    background-color: yellow;
    border-radius: 50%;
    transform-origin: center center;
    box-shadow: 0 0 25px 5px yellow;
    background: rgb(253,217,29);
    background: linear-gradient(225deg, rgba(253,217,29,1) 0%, rgba(252,69,69,1) 100%); 
}

.solar-orbit1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 240px;
    height: 240px;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    border: 1px solid #7060ff;
    border-radius: 50%;
    box-shadow: 0 0 70px 1px #42167a;
    z-index: 20;
    animation: rotate 15s linear infinite;
}

.solar-orbit2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 320px;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    border: 1px solid #7060ff;
    border-radius: 50%;
    box-shadow: 0 0 70px 1px #42167a;
    z-index: 15;
    animation: rotate 20s linear infinite;
}

.solar-orbit3{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    border: 1px solid #7060ff;
    border-radius: 50%;
    box-shadow: 0 0 70px 1px #42167a;
    z-index: 5;
    animation: rotate 25s linear infinite;
}

.solar-orbit4{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 480px;
    height: 480px;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    border: 1px solid #7060ff;
    border-radius: 50%;
    box-shadow: 0 0 70px 1px #42167a;
    z-index: 3;
    animation: rotate 30s linear infinite;
}
  
.orbiting-ellipse {
    position: absolute;
    top: 50%;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    z-index: 3;
    transition: 0.5s ease-in-out;
    background: rgb(20,27,55);
    background: linear-gradient(31deg, rgb(58, 79, 161) 0%, rgba(144,146,190,1) 100%); 

    &:hover{
        transform: translate(-50%, -50%);
        scale: 1.1;
        cursor: pointer;
        background-color: yellow;
        box-shadow: 0 0 25px 5px rgb(0, 162, 255);
        transition: 0.5s ease-in-out;
    }
}

.selected-planet{
    position: absolute;
    top: 50%;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    transform-origin: center center;
    z-index: 3;
    transition: 0.5s ease-in-out;
    transform: translate(-50%, -50%);
    scale: 1.1;
    background-color: yellow;
    cursor: pointer;
    box-shadow: 0 0 25px 5px rgb(0, 162, 255);
    transition: 0.5s ease-in-out;
}
  
@keyframes rotate {
    0%{transform: translate(-50%, -50%) rotate(0deg);}
    100%{transform: translate(-50%, -50%) rotate(360deg);}
}

.star {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 1rem;
    background-color: #d7ffd5;
    animation: twinkle 1s infinite;
}
  
@keyframes twinkle {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
}

@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}

.contact-section{
    position: relative;
    height: 700px;
    width: 100%;
    padding-inline: 1rem;
    
    color: white;
    background: url('../assets/layered-waves4.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(flex-start, center, column, 1rem);

    h3{
        position: absolute;
        width: 400px;
        bottom: 205px;
        font-family: $mainFont;
        font-size: 1.5rem;
        @include flexCenter();
        gap: 1rem;
    }

    a{
        width: 50px;
        height: 50px;
    }

    img{
        width: 50px;
        box-shadow: 0 0 5px 2px #4124be;
        border-radius: 100%;
        cursor: pointer;
        transition: 0.2s linear;

        &:hover{
            box-shadow: 0 0 10px 2px #a494ec;     
            transition: 0.2s linear;
        }
    }
}

.links-container{
    @include flexCenter();
    gap: 1rem;
}

.contact-form {
    font-family: $mainFont;
    font-size: 1.7rem;
    position: absolute;
    width: 1260px;
    height: 300px;
    background: rgb(17,23,47);
    background: linear-gradient(21deg, rgb(8, 10, 20) 0%, rgba(9,11,66,1) 100%); 
    box-shadow: 0px 0px 30px 5px rgb(47, 35, 119);
    border-radius: 1.7rem;
    @include flexCenter();
    flex-direction: column;
    padding: 2rem; 
    gap: 1.5rem;
    z-index: 1000;
    text-align: center;

    h2 {
        font-size: 4rem;
        color: #fff;
        margin: 0;
        letter-spacing: -1px;
    }

    p {
        font-size: 1.4rem;
        color: rgba(255, 255, 255, 0.7);
        max-width: 650px;
        line-height: 1.6;
        margin: 0 0 1rem 0;
    }

    button {
        padding: 0.8rem 2.5rem;
        border-radius: 1rem;
        color: white;
        background-color: #0e182b;
        cursor: pointer;
        transition: 0.2s linear;
        border: none;
        font-size: 1.5rem;
        z-index: 900;

        &:hover {
            background-color: #fefefe;
            color: #010c14;
            box-shadow: 0 0 5px #fefefe, 0 0 25px #fefefe;
            transform: translateY(-3px);
        }
    }
}

.input-container{
    @include flexCenter();
    gap: 1rem;
    width: 90%;
}

.contact-input{
    background-color: #162352;
    color: white;
    border-radius: 10px;
    width: 50%;
    height: 40px;
    border-color: #162352;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1rem;
}

.contact-input-msg{
    background-color: #162352;
    color: white;
    border-radius: 10px;
    width: 90%;
    text-align: start;
    height: 200px;
    border-color: #162352;
    padding: 1rem;
    box-sizing: border-box;
    resize: none;
    overflow-y: scroll;
    overflow: auto;
    font-size: 1rem;
}

.footer{
    color: white;
    font-family: $mainFont;
    @include flexCenter();
    height: 50px;
    background-color: #0a0814;
}

@media only screen and (max-width: 1400px){
    .galaxy-container{
        width: 600px;
    }
}

@media only screen and (max-width: 1335px){
    .welcome-section-lines-container{
        width: 100%;
        max-width: 1300px;
    }
}

@media only screen and (max-width: 1300px){
    .contact-form{
        width: 95%;
    }
}

@media only screen and (max-width: 1250px){
    .about-me-info-container{
        gap: 0;
    }
}
  
@media only screen and (max-width: 1070px){
    .contact-form{
        width: 90%;
        top: -10px;
    }

    .projects-display-container{
        gap: 0;
    }

    .solar-orbit1{
        width: 160px;
        height: 160px;
    }

    .solar-orbit2{
        width: 260px;
        height: 260px;
    }

    .solar-orbit3{
        width: 360px;
        height: 360px;
    }

    .solar-orbit4{
        width: 420px;
        height: 420px;
    }


    .welcome-section-lines-container{
        width: 100%;
    }

    .about-me-text p{
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 950px){
    .about-me-text p{
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 880px){
    .galaxy-container{
        height: 230px;
    }

    .welcome-section-container{
        flex-direction: column;
    }

    .projects-display-container{
        flex-direction: column;
    }

    .project-container{
        bottom: 0;
        min-width: 100%;
        height: 200px;
        img{
            display: none;
        }
    }

    .solar-orbit1{
        width: 110px;
        height: 110px;
    }

    .solar-orbit2{
        width: 150px;
        height: 150px;
    }

    .solar-orbit3{
        width: 200px;
        height: 200px;
    }

    .solar-orbit4{
        width: 250px;
        height: 250px;
    }

    .orbiting-ellipse{
        width: 26px;
        height: 26px;
    }

    .ellipse{
        width: 45px;
        height: 45px;
    }

    .system-container{
        width: 100%;
        @include flexCenter();
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        bottom: 0;
    }

    .solar-system{
        width: 100%;
        height: 380px;
    }

    .galaxy-container{
        width: 100%;
    }

    .about-me-info-container{
        flex-direction: column;
        align-items: start;
    }

    .about-me-text{
        top: 26px;
        max-width: 100%;
        height: 350px;
        bottom: 0;
        
        p{
            font-size: 1.5rem;
            height: 300px;
        }
    }

    .about-me-stack{
        top: 30px;
        width: 100%;

        img{
            width: 60px;
        }
    }
}

@media only screen and (max-width: 712px){
    .welcome-section-curved-line{
        margin-left: 4.2%;
    }
}

@media only screen and (max-width: 660px){
    .header{
        img{
            margin-left: 15px;
        }
    }
}

@media only screen and (max-width: 600px){
    .input-container{
        flex-direction: column;
    }

    .contact-input{
        width: 100%;
    }
}

@media only screen and (max-width: 550px){
    .about-me-text {
        p{
            font-size: 1.3rem;
        }
    }
}

@media only screen and (max-width: 450px){
    .welcome-section{
        h1{
            font-size: 2.3rem;
        }
    }
}

@media only screen and (max-width: 430px){
    .contact-section h3{
        flex-direction: column;
        bottom: 230px;
    }

    .header{
        gap: 10px;

        button{
            font-size: 1rem;
        }
    }
    
    .about-me-text {
        top: 15px;

        p{
            font-size: 1.1rem;
        }
    }

    .about-me-stack{
        img{
            width: 50px;
        }
    }
}